.contacts{
    position: relative;
    height: 500px;
    padding-top: 30px;
    padding-left: 310px;
    padding-right: 310px;
    isolation: isolate;
    @include media(1920){
        padding-right: 0;
        padding-left: 0;
    }
    @include media(992){
        height: max-content;
        padding-bottom: 30px;
    }
    &::before{
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        top: 30px;
        width: 880px;
        background: url(../img/contacts-img.png) center / cover no-repeat;
        border-radius: 57px 0px 0px 57px;
        @include media(1700){
            width: 770px;
        }
        @include media(1400){
            width: 500px;
            background: url(../img/contacts-img.png) left / cover no-repeat;
        }
        @include media(1200){
            width: 440px;
        }
        @include media(992){
            display: none;
        }
    }
    &::after{
        content: '';
        position: absolute;
        height: 147%;
        width: 100%;
        background: url(../img/contacts-before.png) top / cover no-repeat;
        bottom: -74%;
        right: 0;
        left: 0;
        z-index: -1;
        @include media(1400){
            height: 140%;
        }
        @include media(992){
            display: none;
        }
    }
    &__body{
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__title{
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #0E141D;
        max-width: 566px;
        width: 100%;
        margin-bottom: 40px;
        @include media(1200){
            max-width: 480px;
            width: 100%;
            font-size: 27px;
        }
        @include media(992){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        background: #FAFAFA;
        border: 4px solid #F0F0F0;
        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.04);
        border-radius: 20px;
        padding-left: 30px;
        width: max-content;
        @include media(992){
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
        @include media(768){
            width: 100%;
            flex-direction: column;
            padding-left: 0;
            padding-top: 20px;
        }
    }
    &__p{
        margin-right: 30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: #0E141D;
        @include media(768){
            margin-bottom: 20px;
        }
    }
    &__link{
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: #FAFAFA;
        padding: 18px 28px;
        background: linear-gradient(95.83deg, #1488F3 7.05%, #0D2C98 92.03%);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 300ms ease;
        @include media(768){
            width: 100%;
        }
        @include media(389){
            font-size: 18px;
            line-height: 22px;
            padding: 18px;
        }
        &:hover{
            background: linear-gradient(98.56deg, #1488F3 0%, #0D2C98 100%);
            color: #FAFAFA;
        }
    }
    &__img{
        display: none;
        max-width: 100%;
        width: 100%;
        line-height: 0;
        @include media(992){
            display: block;
        }
        img{
            width: 100%;
            border-radius: 30px;
            line-height: 0;
        }
    }
}