.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 310px;
    padding-right: 310px;
    position: relative;
    @include media(1920){
        padding-right: 0;
        padding-left: 0;
    }
    @include media(575){
        padding-top: 17px;
        padding-bottom: 17px;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        z-index: 3;
        img{
            &.disable-sm{
                display: block;
                @include media(575){
                    display: none;
                }
            }
            &.enable-sm{
                display: none;
                @include media(575){
                    display: block;
                }
            }
        }
    }
    &__list{
        display: flex;
        align-items: center;
        @include media(992){
            position: absolute;
            flex-direction: column;
            top: 0;
            background: #fff;
            width: 100%;
            align-items: center;
            justify-content: center;
            left: 0;
            right: 0;
            height: 100vh;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease;
            padding-right: 15px;
            padding-left: 15px;
            z-index: 2;
        }
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
    &__li{
        &:not(:last-of-type){
            margin-right: 6px;
            @include media(992){
                margin-bottom: 8px;
                margin-right: 0;
            }
        }
        @include media(992){
            background: rgba(0, 0, 0, 0.04);
            border-radius: 8px;
            padding: 10px 140px;
            max-width: 360px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__link{
        padding: 7.5px 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #0E141D;
        transition: 300ms ease;
        border-radius: 8px;
        @include media(992){
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
        }
        &:hover, &.active{
            color: #FAFAFA;
            background: linear-gradient(98.56deg, #1488F3 0%, #0D2C98 100%);
            @include media(992){
                background: none;
                color: #0E141D;
            }
        }
    }
    .dropdown{
        z-index: 3;
        &.first{
            @include media(992){
                display: none;
            }
            .btn{
                padding: 7.5px 14px;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                color: #0E141D;
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
                @include media(992){
                    background: rgba(0, 0, 0, 0.04);
                    border-radius: 8px;
                    padding: 10px 140px;
                }
                img{
                    transition: 300ms ease;
                }
                &:focus{
                    box-shadow: none;
                }
                &.show{
                    img{
                        transform: rotate(180deg);
                    }
                }
                &::after{
                    display: none;
                }
            }
            .dropdown-menu{
                border: 1px solid #E5E9F1;
                border-radius: 8px;
                flex-direction: column;
                align-items: center;
                &.show{
                    display: flex;
                }
            }
            li{
                position: relative;
                &:not(:last-of-type){
                    padding-bottom: 14px;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 38px;
                        height: 1px;
                        left: 50%;
                        transform: translateX(-50%);
                        background: #1265D1;

                    }
                }
                &:nth-of-type(2), &:nth-of-type(3){
                    padding-top: 14px;
                }
            }
            .dropdown-item{
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #0E141D;
                padding-right: 28px  !important;
                padding-left: 28px !important ;
                &:hover{
                    background: none;
                }
            }
        }
        &.second{
            .btn{
                background: #FAFAFA;
                border: 1px solid #E5E9F1;
                border-radius: 28px;
                padding: 10px 12px 10px 12px;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                color: #0E141D;
                display: flex;
                align-items: center;
                &.show{
                    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.16);
                    border-radius: 20px 20px 0 0;
                    border: none;
                }
                img{
                    transition: 300ms ease;
                    margin-left: 2px;
                    &.first{
                        margin-right: 10px;
                    }
                }
                &:focus{
                    box-shadow: none;
                }
                &.show{
                    img{
                        transform: rotate(180deg);
                        &.first{
                            transform: rotate(0deg);
                        }
                    }
                }
                &::after{
                    display: none;
                }
            }
            li{
                &:first-of-type{
                    margin-bottom: 7px;
                }
            }
            .dropdown-menu{
                transform: translate(0px, 46px) !important;
                border: none;
                background: #FAFAFA;
                border-radius: 0 0 20px 20px;
                max-width: 120px !important;
                width: 120px !important;
                min-width: 120px !important;
                padding-top: 0 !important;
            }
            .dropdown-item{
                position: relative;
                transition: 300ms ease;
                &::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: #1265D1;
                    box-shadow: 0px 4px 13px rgba(20, 136, 243, 0.5);
                    width: 8px;
                    height: 8px;
                    left: 18px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 300ms ease;
                }
                &:hover, &.active{
                    background: none;
                    padding-left: 38px;
                    text-decoration: none;
                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        &-item{
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: #0E141D;
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .menu{
        min-width: 46px;
        width: 46px;
        height: 46px;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(95.83deg, #1488F3 7.05%, #0D2C98 92.03%);
        border-radius: 10px;
        position: relative;
        padding: 14px 12px;
        z-index: 3;
        @include media(992){
            display: flex;
        }
        &-btn{
            background: #FAFAFA;
            border-radius: 4px;
            height: 2px;
            border-radius: 4px;
            width: 100%;
            display: block;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        &::before{
            content: '';
            background: #FAFAFA;
            border-radius: 4px;
            height: 2px;
            border-radius: 4px;
            width: 22px;
            top: 0;
            transition: 300ms ease;
        }
        &::after{
            content: '';
            background: #FAFAFA;
            border-radius: 4px;
            height: 2px;
            border-radius: 4px;
            width: 22px;
            bottom: 0;
            transition: 300ms ease;
        }
        &.active{
            flex-direction: row;
            padding: 0;
            background: #E32828;
            .menu-btn{
                display: none;
            }
            &::before{
                left: 50%;
                transform: translateX(50%) rotate(-45deg);
            }
            &::after{
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
            }
        }
    }
    .accordion{
        display: none;
        max-width: 360px;
        width: 100%;
        margin-bottom: 8px;
        @include media(992){
            display: block;
        }
        &-item{
            border: none;
        }
        &-button{
            background: rgba(0, 0, 0, 0.04);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;  
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #0E141D; 
            img{
                transition: 300ms ease;
            }
            &:not(.collapsed){
                box-shadow: none;
                img{
                    transform: rotate(180deg);
                }
            }
            &:focus{
                box-shadow: none;
            }
            &::after{
                display: none;
            }     
            img{
                margin-left: 3px;
            }
        }
        &-body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-collapse{
            border: 1px solid #E5E9F1;
            border-radius: 8px;
            margin-top: 8px;
        }
        li{
            position: relative;
            &:not(:last-of-type){
                padding-bottom: 14px;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 38px;
                    height: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #1265D1;

                }
            }
            &:nth-of-type(2), &:nth-of-type(3){
                padding-top: 14px;
            }
        }
        .dropdown-item{
            white-space: pre-wrap;
            text-align: center;
        }
    }
    &__p{
        display: none;
        margin-top: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #0E141D;
        @include media(992){
            display: block;
        }
    }
}