mixin downloads()
    .downloads 
        .downloads__body.container
            h1.downloads__title Загрузки
            .downloads__content 
                .downloads__item
                    .downloads__top  
                        h2.downloads__subtitle Утилиты для приёма денежных средств
                        .downloads__row 
                            .downloads__inner 
                                p.downloads__p Дата выпуска
                                p.downloads__text 05.07.2022
                            .downloads__inner 
                                p.downloads__p Размер файла
                                p.downloads__text 0,4 Мб
                        .downloads__wrapper 
                            button(type="button").downloads__button Загрузить 
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6666 14V6M12.6666 14L9.86663 11.3333M12.6666 14L15.4666 11.3333M5.66663 15.3333L6.10133 16.99C6.17703 17.2785 6.3518 17.5345 6.59786 17.7175C6.84391 17.9005 7.14713 18 7.45933 18H17.8739C18.1861 18 18.4893 17.9005 18.7354 17.7175C18.9814 17.5345 19.1562 17.2785 19.2319 16.99L19.6666 15.3333" stroke="#F7F7F8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            span.downloads__span v. 1.6.16.0
                    a(href="funds.html").downloads__link Узнать подробнее 
                .downloads__item
                    .downloads__top  
                        h2.downloads__subtitle SpkPhotobooth
                        .downloads__row 
                            .downloads__inner 
                                p.downloads__p Дата выпуска
                                p.downloads__text 09.08.2022
                            .downloads__inner 
                                p.downloads__p Размер файла
                                p.downloads__text 37 Мб
                        .downloads__wrapper 
                            button(type="button").downloads__button Загрузить 
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6666 14V6M12.6666 14L9.86663 11.3333M12.6666 14L15.4666 11.3333M5.66663 15.3333L6.10133 16.99C6.17703 17.2785 6.3518 17.5345 6.59786 17.7175C6.84391 17.9005 7.14713 18 7.45933 18H17.8739C18.1861 18 18.4893 17.9005 18.7354 17.7175C18.9814 17.5345 19.1562 17.2785 19.2319 16.99L19.6666 15.3333" stroke="#F7F7F8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            span.downloads__span v. 1.6.16.0
                    a(href="photos.html").downloads__link Узнать подробнее 
                .downloads__item
                    .downloads__top  
                        h2.downloads__subtitle SpkScreen
                        .downloads__row 
                            .downloads__inner 
                                p.downloads__p Дата выпуска
                                p.downloads__text 09.08.2022
                            .downloads__inner 
                                p.downloads__p Размер файла
                                p.downloads__text 9.8 Мб
                        .downloads__wrapper 
                            button(type="button").downloads__button Загрузить 
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6666 14V6M12.6666 14L9.86663 11.3333M12.6666 14L15.4666 11.3333M5.66663 15.3333L6.10133 16.99C6.17703 17.2785 6.3518 17.5345 6.59786 17.7175C6.84391 17.9005 7.14713 18 7.45933 18H17.8739C18.1861 18 18.4893 17.9005 18.7354 17.7175C18.9814 17.5345 19.1562 17.2785 19.2319 16.99L19.6666 15.3333" stroke="#F7F7F8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            span.downloads__span v. 1.6.16.0
                    a(href="screen.html").downloads__link Узнать подробнее 
