mixin intro()
    .intro 
        .intro__body.container 
            .intro__info 
                p.intro__p Мы предлагаем вам программное обеспечение для
                p.intro__p.lg создания вашей собственной фотобудки!
                h1.intro__title Начните #[span зарабатывать прямо сейчас!]
            .intro__row 
                .intro__item 
                    .intro__item-img 
                        img(src="@img/intro-img-1.png", alt="")
                    .intro__item-texts 
                        h2.intro__item-title Базовые версии программного обеспечения – бесплатные.
                        p.intro__item-p Также если потребуются дополнительные функции, вы можете начать использовать платные версии. 
                .intro__item 
                    .intro__item-img 
                        img(src="@img/intro-img-2.png", alt="")
                    .intro__item-texts 
                        h2.intro__item-title Высокий уровень качества и доверия
                        p.intro__item-p Наши программы работают в фотобудках #[span по всему миру] и неоднократно доказали свою #[span надежность.]
            .intro__content 
                .intro__card 
                    h2.intro__card-title SpkPhotobooth
                    p.intro__card-desc Программное обеспечения для создания фотобудки
                    p.intro__card-p SpkPhotobooth позволяет организовать работу вашей фотобудки с использованием камеры Canon или Web-камеры, осуществлять приём денежных средств, формировать электронные чеки, выполнять мониторинг состояния оборудования
                    a(href="photos.html").intro__card-link Подробнее
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.39607 16.9164C9.24916 16.7714 9.16663 16.5748 9.16663 16.3697C9.16663 16.1647 9.24916 15.968 9.39607 15.823L13.2751 11.9953L9.39606 8.16759C9.25332 8.02174 9.17433 7.82641 9.17612 7.62366C9.1779 7.42091 9.26032 7.22697 9.40561 7.08359C9.5509 6.94022 9.74745 6.8589 9.95292 6.85714C10.1584 6.85538 10.3563 6.93332 10.5041 7.07418L14.9372 11.4486C15.0841 11.5936 15.1666 11.7903 15.1666 11.9953C15.1666 12.2003 15.0841 12.397 14.9372 12.542L10.5041 16.9164C10.3572 17.0614 10.1579 17.1428 9.9501 17.1428C9.74231 17.1428 9.54302 17.0614 9.39607 16.9164Z" fill="#FAFAFA"/>
                        </svg>
                .intro__card 
                    h2.intro__card-title Утилиты для приёма денежных средств
                    p.intro__card-desc Набор программ для организации приёма денежных средств
                    p.intro__card-p Утилиты позволяют организовать приём денежных средств с использованием куюроприёмника CashCode или ICT, терминала для оплаты банковскими картами от UCS, сайта для оплаты в сети Интернет
                    a(href="funds.html").intro__card-link Подробнее
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.39607 16.9164C9.24916 16.7714 9.16663 16.5748 9.16663 16.3697C9.16663 16.1647 9.24916 15.968 9.39607 15.823L13.2751 11.9953L9.39606 8.16759C9.25332 8.02174 9.17433 7.82641 9.17612 7.62366C9.1779 7.42091 9.26032 7.22697 9.40561 7.08359C9.5509 6.94022 9.74745 6.8589 9.95292 6.85714C10.1584 6.85538 10.3563 6.93332 10.5041 7.07418L14.9372 11.4486C15.0841 11.5936 15.1666 11.7903 15.1666 11.9953C15.1666 12.2003 15.0841 12.397 14.9372 12.542L10.5041 16.9164C10.3572 17.0614 10.1579 17.1428 9.9501 17.1428C9.74231 17.1428 9.54302 17.0614 9.39607 16.9164Z" fill="#FAFAFA"/>
                        </svg>
                .intro__card 
                    h2.intro__card-title SpkScreen
                    p.intro__card-desc Программа-помощник для запуска программы фотобудки стороннего производителя
                    p.intro__card-p SpkScreen позволяет организовать работу любой программы фотобудки (Photoboof, DSLR Remote Pro), добавляя функциональность по приёму денежных средств, формироваию электронных чеков, мониторингу состояния оборудования
                    a(href="screen.html").intro__card-link Подробнее
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.39607 16.9164C9.24916 16.7714 9.16663 16.5748 9.16663 16.3697C9.16663 16.1647 9.24916 15.968 9.39607 15.823L13.2751 11.9953L9.39606 8.16759C9.25332 8.02174 9.17433 7.82641 9.17612 7.62366C9.1779 7.42091 9.26032 7.22697 9.40561 7.08359C9.5509 6.94022 9.74745 6.8589 9.95292 6.85714C10.1584 6.85538 10.3563 6.93332 10.5041 7.07418L14.9372 11.4486C15.0841 11.5936 15.1666 11.7903 15.1666 11.9953C15.1666 12.2003 15.0841 12.397 14.9372 12.542L10.5041 16.9164C10.3572 17.0614 10.1579 17.1428 9.9501 17.1428C9.74231 17.1428 9.54302 17.0614 9.39607 16.9164Z" fill="#FAFAFA"/>
                        </svg>