mixin programms()
    .programms  
        .programms__body.container 
            .programms__row 
                h1.programms__title Утилиты для приёма денежных средств
                .programms__content
                    .programms__items 
                        .programms__item    
                            p.programms__item-subtitle Дата выпуска
                            p.programms__item-p 05.07.2022
                        .programms__item    
                            p.programms__item-subtitle Размер файла
                            p.programms__item-p 0.4 Мб
                    .programms__wrapper 
                        a(href="#!").programms__btn Загрузить 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 14V6M12 14L9.2 11.3333M12 14L14.8 11.3333M5 15.3333L5.4347 16.99C5.51041 17.2785 5.68518 17.5345 5.93123 17.7175C6.17729 17.9005 6.48051 18 6.7927 18H17.2073C17.5195 18 17.8227 17.9005 18.0688 17.7175C18.3148 17.5345 18.4896 17.2785 18.5653 16.99L19 15.3333" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        p.programms__p v. 1.1.12.0
            h2.programms__subtitle В состав утилит входят следующие основные программы
            .programms__cards 
                .programms__card 
                    .programms__card-top 
                        p.programms__card-title MaCcnet
                        p.programms__card-num 01
                    p.programms__card-desc Программа для приема денежных средств с использованием купюроприёмника СashCode, работающего по протоколу CCNET
                .programms__card 
                    .programms__card-top 
                        p.programms__card-title MaIct
                        p.programms__card-num 02
                    p.programms__card-desc Программа для приема денежных средств с использованием купюроприёмника ICT, работающего по протоколу ICT004
                .programms__card 
                    .programms__card-top 
                        p.programms__card-title MaUcs
                        p.programms__card-num 03
                    p.programms__card-desc Программа для приема денежных средств с использованием терминала для оплаты банковскими картами от UCS
                .programms__card 
                    .programms__card-top 
                        p.programms__card-title MaWebPay
                        p.programms__card-num 04
                    p.programms__card-desc Программа для приема денежных средств с использованием сайта для оплаты в сети Интернет
            .programms__functions 
                h2.programms__functions-title Функциональные возможности основных программ
                .programms__functions-img 
                    img(src="@img/programms-funtions-img.png", alt="")
                .programms__functions-content 
                    p.programms__functions-p Автоматически переподключаются к оборудованию (купюроприемник, терминал для оплаты банковскими картами, сайт в Интернете) при сбоях в работе
                    p.programms__functions-p Работают как консольное приложение или Windows-сервис
                    p.programms__functions-p Ведут лог своей работы
                    p.programms__functions-p Работают совместно с программами #[a(href="screen.html") SpkScreen] или #[a(href="photos.html") SpkPhotobooth]
            .programms__about 
                h2.programms__about-title Дополнительные программы
                .programms__about-cards 
                    .programms__about-card 
                        p.programms__about-subtitle MaBillAcceptorSimulator
                        p.programms__about-desc Cимулятор купюроприемника, позволяющий проверить работу фотокиоска без использования реального купюроприемника
                    .programms__about-card 
                        p.programms__about-subtitle MaTest
                        p.programms__about-desc Программа, позволяющая проверить работу купюроприемника
                    .programms__about-card 
                        p.programms__about-subtitle MaWizard 
                        p.programms__about-desc Программа-помощник для запуска основных программ, проверки их статуса и установки их в качестве сервиса Windows
            .programms__cost 
                .programms__cost-left 
                    h2.programms__cost-title Стоимость
                        <svg width="42" height="71" viewBox="0 0 42 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.1" d="M17.3924 0L17.8481 13.8183H26.3544L26.8101 0H17.3924ZM17.8481 57.7161L17.3924 71H26.7342L26.2785 57.7161H17.8481ZM31.5949 25.1172L41.2405 19.5441C40.1772 17.61 38.8354 15.7778 37.2152 14.0473C35.5949 12.3168 33.5443 10.9172 31.0633 9.84839C28.5823 8.77957 25.519 8.24516 21.8734 8.24516C18.1772 8.24516 14.9114 8.90681 12.0759 10.2301C9.29114 11.5534 7.08861 13.3093 5.46835 15.4978C3.89873 17.6864 3.11392 20.0785 3.11392 22.6742C3.11392 25.2699 3.59494 27.5093 4.55696 29.3925C5.56962 31.2247 6.81013 32.8025 8.27848 34.1258C9.79747 35.4491 11.3671 36.5434 12.9873 37.4086C14.6582 38.2229 16.1519 38.8591 17.4684 39.3172C19.5443 40.1315 21.3924 40.895 23.0127 41.6075C24.6835 42.3201 26 43.1599 26.962 44.1269C27.9747 45.043 28.481 46.2136 28.481 47.6387C28.481 48.7584 28.2279 49.7254 27.7215 50.5398C27.2658 51.3541 26.557 51.9649 25.5949 52.372C24.6835 52.7283 23.4684 52.9064 21.9494 52.9064C20.1266 52.9064 18.4557 52.5502 16.9367 51.8376C15.4684 51.1251 14.1013 50.0563 12.8354 48.6312C11.5696 47.2061 10.3038 45.4247 9.03798 43.2871L0 49.7C1.11392 52.143 2.75949 54.3824 4.93671 56.4183C7.11392 58.4541 9.62025 60.1082 12.4557 61.3806C15.3418 62.6021 18.3797 63.2129 21.5696 63.2129C25.7722 63.2129 29.3924 62.6021 32.4304 61.3806C35.4684 60.1591 37.8228 58.3778 39.4937 56.0366C41.1646 53.6444 42 50.7943 42 47.486C42 45.1448 41.6203 43.109 40.8608 41.3785C40.1519 39.5971 39.1646 38.0448 37.8987 36.7215C36.6329 35.3982 35.1899 34.2785 33.5696 33.3624C31.9494 32.3953 30.2278 31.581 28.4051 30.9194C26.2785 30.105 24.2785 29.367 22.4051 28.7054C20.5823 27.9928 19.0886 27.1785 17.9241 26.2624C16.8101 25.3462 16.2532 24.1247 16.2532 22.5978C16.2532 21.6817 16.4557 20.8674 16.8608 20.1548C17.3165 19.4423 17.9747 18.857 18.8354 18.3989C19.7468 17.9409 20.8861 17.7118 22.2532 17.7118C23.6203 17.7118 24.8608 18.0172 25.9747 18.628C27.0886 19.2387 28.1013 20.1039 29.0127 21.2237C29.9747 22.3434 30.8354 23.6412 31.5949 25.1172Z" fill="#41E309"/>
                        </svg>
                    .programms__cost-texts 
                        p.programms__cost-text Бесплатно
                        p.programms__cost-desc Все программы кроме MaUcs
                .programms__cost-right 
                    p.programms__cost-subtitle MaUcs
                    p.programms__cost-p #[span $199] $99
            .programms__note 
                .programms__note-img 
                    img(src="@img/programms-note-img.png", alt="")
                .programms__note-content 
                    h2.programms__note-title Примечание
                    p.programms__note-desc Лицензия на платную версию программного обеспечения предназначена для использования на одном компьютере. Включает в себя техническую поддержку и получение обновлений в течение одного года.
                    